[Unit]
Description=control homewizard devices daemon
Documentation=https://github.com/IanVliet/control-homewizard-devices
After=network.target

[Service]
ExecStart=/home/[username]/.local/bin/poetry run myservice
WorkingDirectory=/home/[username]/projects/homewizard_project
Restart=always
User=[username]
Environment=PATH=/home/[username]/.local/bin:/usr/bin

[Install]
WantedBy=multi-user.target
